language: node_js

os: linux

node_js:
  - 12

cache:
  directories:
    - node_modules

install:
  - npm install

jobs:
  include:
    - stage: docs
      if: branch = master
      script:
        - "npm run build:pages"
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: dist/
        keep_history: true
        on:
          branch: master
